html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

section {
  padding: 40px;
}

.skill {
  max-height: 150px;
  padding: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skill:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}